.surpriseRestaurant {
  text-align: center;
  width: 100%;
  padding: 15px 0 30px 0;
  button {
    width: 100%;
    background-color: green;
    border: none;
    color: white;
    padding: 15px 0px;
    font-weight: bold;
    border-radius: 3px;
  }
}
