.swiper {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  background-color: black;
  border-top: 2px solid rgba(50, 92, 134, 255);
  position: relative;
  h2 {
    padding: 1rem 0;
    font-size: 2.5rem;
    text-align: center;
    color: white;
  }
  .swiper-container {
    padding: 3rem 0;
    position: relative;
    border: none;
    margin: 2rem 0;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 250px;
      height: 100%;
      background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
      content: "";
      z-index: 2;
    }
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      width: 250px;
      height: 100%;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), black);
      content: "";
      z-index: 2;
    }
    .swiper-slide {
      margin: 2rem 0;
      width: 36rem;
      margin: 0 2rem;
      height: 16rem;
      position: relative;
      color: white;
      &:hover{
        cursor: pointer;
      }
      .content {
        color: white;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      p {
        font-size: 2em;
      }
    }
    .slider-controler {
      margin-top: 30px;
      .slider-arrow {
        z-index: 5 !important;
        font-size: 2rem;
        color: #00ffff;
        padding: 0 3rem;
      }
    }
    .swiper-pagination {
      .swiper-pagination-bullet {
        background-color: white;
      }
      .swiper-pagination-bullet-active {
        background: #00ffff;
      }
    }
  }
}

@media (max-width: 525px) {
  .swiper {
    .swiper-container {
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
      .swiper-slide {
        width: 26rem;
      }
      .slider-controler {
        .slider-arrow {
          background-color: #0004;
          border-radius: 50px;
          padding: 30px;
        }
      }
    }
  }
}