.allRestaurantsContainer {
  padding: 30px 0 15px 0;
  h2 {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .allRestaurants {
    justify-content: space-between;
    width: 100%;
  }
}
